.project-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.project-grid {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.project-pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    height: 250px;
}

.tabs {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.tab {
  position: relative;
  font-weight: 500;
  cursor: pointer;
  color: #acb5c5;
}

.tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 20%;
  height: 2px;
  background-color: #acb5c5;
  transition: width 0.3s ease;
}

.tab.active {
    color: white;
}

.tab.active::after {
    width: 100%;
}

.tab:hover::after {
  width: 100%;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.project-desc {
    background-color: rgba(103, 139, 195, 0.3);
    border-radius: 12px;
    padding: 16px 24px;
}

.project-desc a {
    color: #66C4FF;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
}

.project-tag-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 16px;
}
