.techstack-container {
    margin-top: 128px;
    width: 100%;
}

.tech-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(113, 118, 127, 0.2);
    width: 100%;
    border-radius: 32px;
    padding: 16px 32px;
    margin-top: 8px;
    transition: max-height 0.3s ease;
    max-height: 95px;
    overflow: hidden;
}

.tech-logo-img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 24px;
}

.caption {
    margin: 0;
    margin-top: 8px;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    overflow: hidden;
}

.caption.hover {
  opacity: 1;
  max-height: 24px; /* Adjust to fit your caption */
}

.tech-logo-img.hover {
    transform: scale(1.1);
}